---
layout: default
---

<div class="home">

	Física General Mecánica es un proyecto de un grupo de docentes-investigadores de la Escuela de Física. Su objetivo es diseñar y ejecutar una estrategia efectiva para coordinar un conjunto de cursos introductorios en la Facultad de Ciencias de la Universidad Central de Venezuela.

<h3>Nuestos objetivos específicos son:</h3>
	 <ul>
		<li>Lograr un acompañamiento docente de calidad y altos estándares de aprendizaje</li>
		<li>Garantizar el acceso efectivo a contenidos en modo virtual y asíncrono</li>
		<li>Responder con gran flexibilidad ante diferentes tamaños de población estudiantil</li>
		<li>Generar comunidades virtuales de aprendizaje</li>
		<li>Generar buenas prácticas en el uso de las TICs y tecnologías de uso abierto</li>
	</ul>


<!--
<h3>Partículas</h3>
<a href="https://commons.wikimedia.org/wiki/File:Justus_Sustermans_-_Portrait_of_Galileo_Galilei,_1636.jpg#/media/Archivo:Justus_Sustermans_-_Portrait_of_Galileo_Galilei,_1636.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Justus_Sustermans_-_Portrait_of_Galileo_Galilei%2C_1636.jpg/189px-Justus_Sustermans_-_Portrait_of_Galileo_Galilei%2C_1636.jpg"  style="height:100px"; alt="Galileo Galilei"> </a>

<a href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Caida-libre.svg/800px-Caida-libre.svg.png"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Caida-libre.svg/800px-Caida-libre.svg.png" style="height:100px"; alt="Caída libre"> </a>

<a href="https://upload.wikimedia.org/wikipedia/commons/b/b9/Tierra-luna.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Tierra-luna.jpg" style="height:100px"; alt="Tierra-Luna"> </a>

<a href="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Portrait_of_Sir_Isaac_Newton%2C_1689.jpg/198px-Portrait_of_Sir_Isaac_Newton%2C_1689.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Portrait_of_Sir_Isaac_Newton%2C_1689.jpg/198px-Portrait_of_Sir_Isaac_Newton%2C_1689.jpg" style="height:100px";  alt="Isaac Newton"> </a>

</br>

<h3>Dinámica</h3>
<a href="https://upload.wikimedia.org/wikipedia/commons/f/f9/Pendulosimple.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Pendulosimple.jpg" style="height:100px"; alt="Diagrama de fuerza"> </a>


<a href="https://upload.wikimedia.org/wikipedia/commons/b/b6/SumatorioFuerzas.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/SumatorioFuerzas.jpg" style="height:100px"; alt="Adición de fuerzas"> </a>

</br>

<h3>Oscilaciones</h3>

<a href="https://upload.wikimedia.org/wikipedia/commons/9/9d/Simple_harmonic_oscillator.gif"><img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Simple_harmonic_oscillator.gif" style="height:100px"; alt="Masa-resorte"> </a>

<a href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Forced_gammas.svg/1024px-Forced_gammas.svg.png"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Forced_gammas.svg/1024px-Forced_gammas.svg.png" style="height:100px"; alt="Resonancia"> </a>

</br>

<h3>Ondas</h3>

<a href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Espejo_%283207185886%29.jpg/1024px-Espejo_%283207185886%29.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Espejo_%283207185886%29.jpg/1024px-Espejo_%283207185886%29.jpg" style="height:100px"; alt="Ondas en el agua"> </a>

<a href="https://upload.wikimedia.org/wikipedia/commons/4/43/GIF_ONDA_PRESION.gif"><img src="https://upload.wikimedia.org/wikipedia/commons/4/43/GIF_ONDA_PRESION.gif" style="height:100px"; alt="Ondas en un tubo"> </a>

</br>


<h3>Termodinámica</h3>


<a href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Carnot2.jpg/400px-Carnot2.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Carnot2.jpg/400px-Carnot2.jpg" style="height:100px";  alt="Nicolás Carnot"> </a>

<a href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/HeatEngine.svg/langes-800px-HeatEngine.svg.png"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/HeatEngine.svg/langes-800px-HeatEngine.svg.png" style="height:100px";  alt="Máquina"> </a>



<a href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/PV_Ciclo_de_Carnot.svg/800px-PV_Ciclo_de_Carnot.svg.png"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/PV_Ciclo_de_Carnot.svg/800px-PV_Ciclo_de_Carnot.svg.png" style="height:100px";  alt="Ciclo de Carnot"> </a>



<a href="https://upload.wikimedia.org/wikipedia/commons/5/51/Boltzmann-Ludwig.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Boltzmann-Ludwig.jpg"  style="height:100px"; alt="Ludwig Boltzmann"> </a>


-->
  <h1 class="page-heading">Noticias</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
